/* ----------------MOBILE-------------------- */

@media screen and (min-width: 375px) {
    .container{
        width: 375px;
    }
    
}

/* ----------------TABLET-------------------- */

@media screen and (min-width: 768px){
    .container{
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    /* -------------ABOUT AS----------------- */
    .about-us {
        padding-top: 64px;
        padding-bottom: 128px;
    }
    .about-title{
        font-size: 40px;
        line-height: 1.1;
    }
    .about-wrap{
        display: flex;
        justify-content: space-between;
    }
    .about-descr-wrap{
        max-width: 490px;
        display: flex;
        gap: 20px;
    }
    .about-img{
        display: none;
    }
    .about-animation{
        display: block;
        width: 704px;
        height: 465px;
    }

    /* -------------SALE----------------- */
    .sale-title{
        font-size: 40px;
        line-height: 1.10;
    }
    .sale-wrap{
        width: 572px;
        margin: 0 auto;
    }
    .sale-watch-title{
        font-size: 38px;
        line-height: 1.05;
    }
    .sale-gallery{
        min-width: 572px;
    }
    
}

/* ----------------DESCkTOP-------------------- */

@media screen and (min-width: 1280px) {
    .container{
        width: 1280px;
        padding-left: 52px;
        padding-right: 52px;
    }

    /* -------------ABOUT AS----------------- */
  
    .about-descr-wrap{
        max-width: 859px;
        gap: 40px;
    }
    .about-animation{
        width: 892px;
        height: 500px;
        margin-left: auto;
    }
   


    /* -------------SALE----------------- */
    .sale {
        padding-bottom: 160px;
    }
    .sale-wrap{
        width: 981px;
        margin: 0 auto;
        display: flex;
        gap: 40px;
    }
    .sale-title{
        margin-bottom: 80px;
    }
    .sale-gallery{
        margin-bottom: 0;
    }
}