/* ----------------MOBILE-------------------- */

@media screen and (min-width: 375px) {
    .container{
        width: 375px;
    }
    .hero-desctop-desc{
        display: none;
    }
}

/* ----------------TABLET-------------------- */

@media screen and (min-width: 768px){
    .container{
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    /* -------------HEDER----------------- */
    .mob-menu-btn{
        display: none;
    }
    .header-menu-list{
        display: block;
    }
    .header-tel{
        display: block;
    }
    .logo-link{
        font-size: 15px;
    }
    .header-logo{
        width: 19px;
        height: 19px;
    }
    .header-menu-list{
        display: flex;
        gap: 40px;
    }
    .header-navigation{
        display: flex;
        align-items: center;
        gap: 80px;
    }
    .header-menu-link{
        font-weight: 400;
        font-size: 9px;
        line-height: 1.33;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .header-tel{
        display: block;
        width: 149px;
        height: 48px;
        font-weight: 400;
        font-size: 9px;
        line-height: 1.33;
        text-align: center;
        padding-top: 18px;
        text-transform: uppercase;
        background-color: #1E2827;
        border-radius: 8px;

        transition: border var(--transform-function);
    }
    .header-tel:hover, .header-tel:focus{
        border: 1px solid #FFFFFF;
    }
    /* -------------HERO----------------- */
    .hero {
        padding-top: 148px;
        padding-bottom: 64px;
    }
    .hero-grid{
      display: flex;
      flex-wrap: wrap;
        
    }
    .hero-title{
        order: 1;
        font-size: 60px;
        line-height: 1.03;

    }
    .hero-descr{
        order: 3;
        padding-top: 70px;
        margin-bottom: 0;
    }
    .slider-wrap{
        order: 2;
      width: 436px;
    }
    .slider-item{
        width: 436px;
        height: 255px;
    }
    .hero-img{
        order: 4;
    }
    .slider-btn{
       width: 40px;
       height: 40px;
    }
    .slider-btn-icon{
        width: 24px;
        height: 24px;
    }
    /* -------------ABOUT AS----------------- */
    .about-us {
        padding-top: 64px;
        padding-bottom: 128px;
    }
    .about-title{
        font-size: 40px;
        line-height: 1.1;
    }
    .about-wrap{
        display: flex;
        justify-content: space-between;
    }
    .about-descr-list{
        max-width: 490px;
        flex-wrap: nowrap;
        gap: 20px;
    }
    .about-animation{
        width: 704px;
        height: 465px;
    }

      /* -------------CATALOG----------------- */
      .catalog-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px 32px;
      }

    /* -------------SALE----------------- */
    .sale-title{
        font-size: 40px;
        line-height: 1.10;
    }
    .sale-wrap{
        width: 572px;
        margin: 0 auto;
    }
    .sale-watch-title{
        font-size: 38px;
        line-height: 1.05;
    }
    .sale-gallery{
        min-width: 572px;
    }

    /* -------------BACKDROPE----------------- */
    .form-tab-flex{
        display: flex;
        gap: 20px;
    }
    .form-input{
        width: 368px;
    }
    .modal{
        padding: 20px;
        width: 904px;
    }
    
}

/* ----------------DESCkTOP-------------------- */

@media screen and (min-width: 1280px) {
    .container{
        width: 1280px;
        padding-left: 52px;
        padding-right: 52px;
    }

     /* -------------HERO----------------- */
     .hero-img{
        order: 4;
        width: 676px;
        height: 394px;
     }
     .hero-grid{
        
       gap: 43px 64px;
     }
     
    .slider-wrap{
        order: 3;
        margin-bottom: 0;
        margin-top: auto;
    }
    .hero-title{
        order: 1;
        width: 750px;
        margin-bottom: 0;
    }
    .hero-descr{
        order: 2;
        padding-top: 0;
        max-width: 282px;  
    }
   

    /* -------------ABOUT AS----------------- */
    .about-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    .about-wrap{
        gap: 110px;
    }
    .about-descr-list{
        max-width: 893px;
        flex-wrap: nowrap;
        gap: 40px;
    }
    .about-animation{
        width: 892px;
        height: 500px;
    }
   
     /* -------------CATALOG----------------- */
     .thumb-wrap{
        width: 276px;
        height: 325px;
     }
    .catalog-list{
       gap: 64px 24px;
    }
    .catalog-btn{
        width: 122px;
        height: 50px;
    }

    /* -------------SALE----------------- */
    .sale {
        padding-bottom: 160px;
    }
    .sale-wrap{
        width: 981px;
        margin: 0 auto;
        display: flex;
        gap: 40px;
    }
    .sale-title{
        margin-bottom: 80px;
    }
    .sale-gallery{
        margin-bottom: 0;
    }

     /* -------------BACKDROPE----------------- */
     .form-tab-flex{
        gap: 40px;
    }
    .form-input{
        width: 508px;
    }
    .modal{
        padding: 40px;
    }
    .form-input{
        margin-bottom: 24px;
    }
    .form-textarea{
        margin-bottom: 40px;
    } 
   .form-textarea{
        height: 170px;
    }
}